nav {
  font-size: 20px;
}

a:first-child {
  font-size: 20px;
}

p {
  font-size: 23px;
  text-align: center;
  color: rgb(255, 255, 255);

}

.jumbotron{
  background-color: #0aac8b !important;
}

img {
  width: 32%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-bottom: 100px;
}

section > .jumbotron{
  background-color: #4b505a !important;
  margin-top: -50px;
}

h3 {
  font-size: 23px;
  text-align: center;
}

.card-text {
  color: black;
}



footer{
  color: white;
  text-align: center;
}