input{
    width:50px;
    height:50px;
}

/*details calc*/
input.result{
    width:210px;
    display:block;
}

/*details body*/
fieldset{
    width: 100px;
    height: 335px;
    background-color: rgb(206, 202, 202);
    border-style: unset;
    margin: 10px auto 5px auto;
    border-radius: 15px;
    text-align: end;  
}

/*details title*/
h3{
    text-align: center;
    font-style: italic;
    font-weight: 100;
}


